* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --bold-color: #171100;
    --light-color: #5f5b53;
}

html {
    font-size: 62.5%;
}

/* Common */
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 17px;
    min-width: 118px;
    height: 50px;
    border-radius: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    background-color: var(--bold-color);
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    background-color: #fffcf4;
    padding-top: 36px;
    padding-bottom: 4px;
}

.fixed {
    position: sticky;
    top: -32px;
    z-index: 1;
}

.header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav {
    display: flex;
}

.header nav ul {
    display: flex;
    align-items: center;
    gap: 42px;
}

.header li a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--light-color);
}

.header li a:hover {
    color: var(--bold-color);
}

.header li:first-child a {
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--bold-color);
}

.header li:first-child a::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    margin-top: -3px;
    margin-left: 1px;
    border-radius: 1px;
    background-color: var(--bold-color);
}

.header .cta {
    width: 144px;
    margin-left: 70px;
}

/* Hero */
.hero {
    padding-top: 60px;
    padding-bottom: 65px;
    background-color: #fffcf4;
}

.hero .content {
    display: flex;
}

.hero-image,
.hero .info {
    flex: 1;
}

.hero .hero-image > img {
    max-width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .box-layer {
    position: relative;
}

.hero .box-course {
    position: absolute;
    bottom: 48px;
    left: 300px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    background: #ffffff;
    width: 270px;
    padding: 24px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero .box-course .course-item {
    display: flex;
    align-items: center;
}

.hero .box-course .course-item .icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
    border-radius: 50%;
}

.hero .box-course .course-item .course {
    margin-left: 16px;
}

.hero .course span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: var(--light-color);
}

.hero .course .name-course a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--bold-color);
}

.hero .info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero .box-center {
    width: 470px;
    max-width: 470px;
}

.hero .title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: var(--bold-color);
}

.hero .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--light-color);
}

.hero .box-action {
    margin-top: 38px;
    display: flex;
}

.hero .cta {
    width: 180px;
    min-height: 64px;
    padding: 23px;
    font-size: 1.8rem;
    background: var(--primary-color);
    border-radius: 32px;
}

.hero .play {
    margin-left: 28px;
    display: flex;
    align-items: center;
}

.hero .play img {
    padding: 14px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .play img:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.hero .play span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--bold-color);
}

.hero .engagement {
    margin-top: 48px;
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--light-color);
}

.hero .box-qty {
    margin-top: 16px;
    display: flex;
    gap: 28px;
}

.hero .box-qty .qty {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--light-color);
}

.hero .box-qty .qty span {
    font-family: "Sen", sans-serif;
    padding-right: 12px;
    font-weight: 700;
    font-size: 4.4rem;
    color: var(--bold-color);
}
